 body{font-family: cursive;background-color:tan
    }
    h1{color: saddlebrown;font-size: 30px;}
    h3{color: saddlebrown;font-size: 25px;}
    h2{color: saddlebrown;font-size: 25px;}
    li{ color:black; width: 200;}
   
    
    
   
   